body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
input[type="file"]:focus-visible {
	outline: 0.125rem solid #4d65ff;
	outline-offset: 0.125rem;
}

/* Set color style to inherit */
.inherit-color * {
	color: inherit;
}

/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child,
.w-richtext > div:first-child > :first-child {
	margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext > :last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child {
	margin-bottom: 0 !important;
}

/* Make sure containers never lose their center alignment */
.container-medium,
.container-small,
.container-large {
	margin-right: auto !important;
	margin-left: auto !important;
}

.text-style-3lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
}

/* These classes are never overwritten */
.hide {
	display: none !important;
}

@media screen and (max-width: 991px) {
	.hide,
	.hide-tablet {
		display: none !important;
	}
}

@media screen and (max-width: 767px) {
	.hide-mobile-landscape {
		display: none !important;
	}
}

@media screen and (max-width: 479px) {
	.hide-mobile {
		display: none !important;
	}
}

.margin-0 {
	margin: 0rem !important;
}

.padding-0 {
	padding: 0rem !important;
}

.spacing-clean {
	padding: 0rem !important;
	margin: 0rem !important;
}

.margin-top {
	margin-right: 0rem !important;
	margin-bottom: 0rem !important;
	margin-left: 0rem !important;
}

.padding-top {
	padding-right: 0rem !important;
	padding-bottom: 0rem !important;
	padding-left: 0rem !important;
}

.margin-right {
	margin-top: 0rem !important;
	margin-bottom: 0rem !important;
	margin-left: 0rem !important;
}

.padding-right {
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
	padding-left: 0rem !important;
}

.margin-bottom {
	margin-top: 0rem !important;
	margin-right: 0rem !important;
	margin-left: 0rem !important;
}

.padding-bottom {
	padding-top: 0rem !important;
	padding-right: 0rem !important;
	padding-left: 0rem !important;
}

.margin-left {
	margin-top: 0rem !important;
	margin-right: 0rem !important;
	margin-bottom: 0rem !important;
}

.padding-left {
	padding-top: 0rem !important;
	padding-right: 0rem !important;
	padding-bottom: 0rem !important;
}

.margin-horizontal {
	margin-top: 0rem !important;
	margin-bottom: 0rem !important;
}

.padding-horizontal {
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
}

.margin-vertical {
	margin-right: 0rem !important;
	margin-left: 0rem !important;
}

.padding-vertical {
	padding-right: 0rem !important;
	padding-left: 0rem !important;
}
.section-publishers-hero_grid {
	background-image: url("https://res.cloudinary.com/mahadiul5267/image/upload/v1744014924/Shakil/publisher-hero-bg_dmjxjm.png");
	background-size: 820px;
}

.section-advertisers-activation_card-inner.card-1 {
	background-image: url("https://res.cloudinary.com/mahadiul5267/image/upload/v1744014921/Shakil/home-outcome-card-01_gjbfpi.png");
	background-size: cover;
}

.section-advertisers-activation_card-inner.card-2 {
	background-image: url("https://res.cloudinary.com/mahadiul5267/image/upload/v1744014922/Shakil/home-outcome-card-02_b63wox.png");
	background-size: cover;
}

.section-advertisers-activation_card-inner.card-3 {
	background-image: url("https://res.cloudinary.com/mahadiul5267/image/upload/v1744014922/Shakil/home-outcome-card-03_fagusq.png");
	background-size: cover;
}

.section-advertisers-activation_card-inner.card-4 {
	background-image: url("https://res.cloudinary.com/mahadiul5267/image/upload/v1744014921/Shakil/home-outcome-card-04_zsr4nj.png");
	background-size: cover;
}

.section-advertisers-audience_logos-container {
	background-image: url("https://res.cloudinary.com/mahadiul5267/image/upload/v1744014940/Shakil/advertisers-logo-bg-pattern_nprwua.png");
	background-size: cover;
}

.section-contact_bg {
	background-image: url("https://res.cloudinary.com/mahadiul5267/image/upload/v1744014942/Shakil/contact-us-bg-pattern_chua7u.png");
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 1728px;
}

.section-dd-form_input .choices {
	margin-bottom: 10px;
}

.section-dd-form_input .choices__inner {
	background-color: transparent;
	border: 0.25px #fff9;
	border-bottom-style: solid;
	padding: 8px 12px;
	min-height: 35px;
}

.section-dd-form_input .choices__list--single {
	padding: 0;
}

.section-dd-form_input .choices__list--dropdown {
	color: #0f0f10;
}

.w-nav-overlay {
	top: 85%;
}

.w-nav-overlay [data-nav-menu-open] {
	top: -5px;
	position: absolute;
}

[data-nav-menu-open] {
	text-align: center;
	background: #c8c8c8;
	position: absolute;
	top: 100%;
	left: 20px;
	right: 20px;
	overflow: visible;
	display: block !important;
}

*[tabindex]:focus-visible,
.form-block w-form input[type="file"]:focus-visible {
	outline: none !important;
}

@media screen and (max-width: 991px) {
	.nav_menu {
		background-color: var(--brand-colors--purple-light);
		border-radius: 1rem;
		flex-flow: row;
		margin-top: 0.5rem;
		box-shadow: 0 0 20px #00000026;
		padding: 1rem 0;
	}

	.w-nav-button.w--open {
		color: #000;
		background-color: transparent;
	}

	.link-block-new {
		display: block;
		text-align: left;
		font-size: 14px;
		margin-top: 12px;
	}

	.link-block-new.w__current {
		margin-top: 12px;
	}

	.nav-underline {
		background-color: transparent;
	}
}

@media screen and (max-width: 479px) {
	.section-hero_title-flip-text {
		width: 245px !important;
	}
}
